*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    text-shadow: 0 1px 1px #333;
}
#main {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

/* Home Page  */
#main > div.home_page {
    min-height: calc(100vh - 60px);
    flex: 1;
    background-image: linear-gradient(to right, rgb(212, 227, 247) 50%, #fff 50%);
    display: grid;
    place-items: center;
}
#main > div.home_page > div.container-fluid {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#main > div.home_page > div.container-fluid > p {
    text-transform: uppercase;
    font-size: 13px;
    text-shadow: 0 1px 3px rgb(104, 104, 214);
    letter-spacing: 2.5px;
    color: rgb(104, 104, 214);
}
#main > div.home_page > div.container-fluid > h1 {
    font-size: 65px;
    text-transform: capitalize;
    text-shadow: 0 2px 4px #333;
}
#main > div.home_page > div.container-fluid > h2 {
    font-size: 22px;
    text-shadow: 0 1px 2px #333;
    margin-top: 2rem;
    font-weight: 400;
    text-transform: capitalize;
}

@media screen and (max-width: 1100px) {
    #main > div.home_page > div.container-fluid > p {
        font-size: 10px;
    }
    #main > div.home_page > div.container-fluid > h1 {
        font-size: 58px;
    }
    #main > div.home_page > div.container-fluid > h2 {
        font-size: 18px;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 800px) {
    #main > div.home_page > div.container-fluid > p {
        font-size: 8px;
    }
    #main > div.home_page > div.container-fluid > h1 {
        font-size: 38px;
    }
    #main > div.home_page > div.container-fluid > h2 {
        font-size: 12px;
        margin-top: 1rem;
    }
}


/* Main Content */
#main > div.about_us {
    flex: 1;
}
#main > div.about_us > div.container-fluid {
    display: flex;
    min-height: calc(100vh - 60px);
    max-width: 810px !important;
    margin: auto;
    align-items: center;
}

/* #main > div.about_us > div.container-fluid .social_media_icon {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#main > div.about_us > div.container-fluid .social_media_icon a {
    display: inline-block;
    text-decoration: none;
}
#main > div.about_us > div.container-fluid .social_media_icon a > i.fa {
    font-size: 14px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: gainsboro;
    display: grid;
    place-items: center;
    transition: .5s;
    border-radius: 50%;
    box-shadow: 0 0 3px #333;
}
#main > div.about_us > div.container-fluid .social_media_icon a > i.fa:hover {
} */

#main > div.about_us > div.container-fluid > div.image_container {
    flex: 1;
    height: 100%;
    display: grid;
    place-items: center;
    padding-right: 1rem;
}

#main > div.about_us > div.container-fluid > div.image_container > img {
    width: 95%;
    height: 100%;
    max-height: 450px;
}

#main > div.about_us > div.container-fluid > div.text_container {
    text-transform: capitalize;
    flex: 1;
    padding-left: 1rem;
}

#main > div.about_us > div.container-fluid > div.text_container > p {
    font-size: 14px;
    color: rgb(193 187 187);
    letter-spacing: 1px;
    text-shadow: 0 1px 1px rgb(193 187 187);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main > div.about_us > div.container-fluid > div.text_container > h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    text-shadow: 0 1px 1px #333;
    color: #333;
}


#main > div.about_us > div.container-fluid > div.text_container > h1 > span {
    color: #05b5ff;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #05b5ff;
    white-space: nowrap;
}


#main > div.about_us > div.container-fluid > div.text_container > button {
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0px 2px rgb(113, 112, 112);
    text-transform: uppercase;
    cursor: pointer;
    padding: 0.4rem 01rem;
    transition: .7s;
    font-size: 12px;
    font-weight: 700;
    margin-top: 0.8rem;
}

#main > div.about_us > div.container-fluid > div.text_container > button:hover {
    box-shadow: 0 5px 2px #05b5ff;
}

#main > div.about_us > div.container-fluid > div.text_container > button > a {
    text-decoration: none;
    color: gray;
    padding-left: 7px;
}

@media screen and (max-width: 760px) {
    #main > div.about_us > div.container-fluid > div.text_container {
        flex: 0.6;
    }
    #main > div.about_us > div.container-fluid > div.image_container {
        flex: 1.4;
    }
}
@media screen and (max-width: 640px) {
    #main > div.about_us > div.container-fluid {
        flex-direction: column;
        padding: 3rem 1.5rem;
    }
    #main > div.about_us > div.container-fluid > div.text_container {
        padding-bottom: 3rem;
    }
}

/* No Interent Connection */
#main > div.internet_connection {
    flex: 1;
    min-height: calc(100vh);
    display: grid;
    place-items: center;
}

#main > div.internet_connection > .container-fluid {
    text-align: center;
}

#main > div.internet_connection > .container-fluid > i.fa {
    font-size: 100px;
}

#main > div.internet_connection > .container-fluid > h1 {
    font-size: 20px;
    margin-top: 10px;
}

/* Contact US  */
#main > div.feedback {
    min-height: calc(100vh - 60px);
    flex: 1;    
    display: flex;
    justify-content: center;
}
#main > div.feedback > .container-fluid {
    max-width: 560px !important;
    box-shadow: 0 0 15px lightgrey;
    margin: 2rem 3px;
    border-radius: 5px;
    padding: 0;
}

#main > div.feedback > .container-fluid > header {
    width: 100%;
    border-bottom: 1px solid gainsboro;
    font-size: 19px;
    padding: 1rem 1.5rem;
    text-shadow: 0 1px 1px #333 ;
}
#main > div.feedback > .container-fluid > form {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
}

/* About Me */
#main > div.profile{
    /* flex: 1; */
    width: 780px !important;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    /* background-color: gainsboro; */
    min-height: calc(100vh - 60px);
}
#main > div.profile > div.container-fluid {
    display: flex;
    height: fit-content;
    box-shadow: 1px 1px 3px gainsboro, -1px -1px 3px gainsboro;
    padding: 2rem;
    border-radius: 5px;
}

#main > div.profile > div.container-fluid > .left_side {
    flex: 0.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main > div.profile > div.container-fluid > .left_side > div.pofile_photo {
    position: relative;
}

#main > div.profile > div.container-fluid > .left_side > div.pofile_photo > img {
    /* width: 100%; */
    max-width: 150px;

    /* width: 100%; */
    max-height: 160px;
}
#main > div.profile > div.container-fluid > .left_side > div.pofile_photo > img:hover ~ button {
    height: 2rem;
}

#main > div.profile > div.container-fluid > .left_side > div.pofile_photo > button {
    position: absolute;
    width: 100%;
    border: none;
    outline: none;
    bottom: 0;
    left: 0;
    overflow-y: hidden;
    transition: .3s;
    font-size: 13px;
    height: 0;
    cursor: pointer;
}

#main > div.profile > div.container-fluid > .left_side > div.pofile_photo > button:hover {
    height: 2rem;
}

#main > div.profile > div.container-fluid > .left_side > div.work_link {
    margin-top: 2rem;
}

#main > div.profile > div.container-fluid > .left_side > div.work_link > h1 {
    font-size: 17px;
    color: grey;
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
}
#main > div.profile > div.container-fluid > .left_side > div.work_link > h1::after {
    content: "";
    width: calc(100% - 80px);
    height: 2px;
    position: absolute;
    top: 50%;
    /* left: 0; */
    background-color: grey;
}

#main > div.profile > div.container-fluid > .left_side > div.work_link ul {
    list-style: none;
    font-size: 15px;
}

#main > div.profile > div.container-fluid > .left_side > div.work_link ul a {
    text-decoration: none;
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    display: block;
    padding: 2px 10px;
}

#main > div.profile > div.container-fluid > .left_side > div.work_link ul a:hover {
    background-color: rgba(220, 220, 220, 0.694);
    color: lightslategray;
}

#main > div.profile > div.container-fluid > div.right_side {
    flex: 1.6;
    padding-left: 3rem;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_top {
    height: 140px;
    display: flex;
    justify-content: space-between;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_top > div > p {
    margin: 0 !important;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_top > div > p:first-child {
    font-size: 19px;
    color: #333;
    text-shadow: 0 1px 1px #333;
}
#main > div.profile > div.container-fluid > div.right_side > div.user_info_top > div > p:last-child {
    color: grey;
    font-size: 12px;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_top > button {
    border: none;
    outline: none;
    font-size: 10px;
    padding: 6px 20px;
    border-radius: 20px;
    height: fit-content;
    cursor: pointer;
    transition: .5s;
    color: lightslategray;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_top > button:hover {
    box-shadow: 0px 0px 2px #333;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > h1 {
    width: 100%;
    padding-bottom: 2px;
    font-size: 18px;
    border-bottom: 1px solid grey;
}
#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > h1 > span {
    border-bottom: 2px solid #05b5ff;
    border-bottom: 3px solid #05b5ff;
    font-size: px;
    padding: 0 0.5rem;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > p {
    width: 100%;
    display: flex;
}
/* 
#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > p > span {
    flex: 1;
} */

#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > p > span.key {
    text-shadow: 0 1px 1px #333;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: .7;
}

#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > p > span.value {
    text-shadow: 0 1px 1px #05b5ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #05b5ff;
    font-size: 14px;
    flex: 1.3;
    display: flex;
}
#main > div.profile > div.container-fluid > div.right_side > div.user_info_bottom > p > span.value.email {
    word-break: break-all;
}


@media screen and (max-width: 800px) {
    #main > div.profile {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    #main > div.profile > div.container-fluid {
        flex-direction: column;
    }
    #main > div.profile > div.container-fluid > div.right_side {
        flex: 1.6;
        padding-left: 0;
        border-top: 1px solid gainsboro;
        padding-top: 10px;
    }
    #main > div.profile > div.container-fluid > div.right_side > div.user_info_top {
        height: fit-content;
        padding-bottom: 1rem;
    }
    #main > div.profile > div.container-fluid > .left_side > div.pofile_photo {
        width: fit-content;
        margin: auto;
    }
}





/* Footer  */
#main > footer > div.container > div.social_icon > a {
    text-decoration: none;
}

#main > footer > button.msgBot {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: gainsboro;
}
#main > footer > button.msgBot > a {
    width: 100%;
    font-size: 1.7rem;
    height: 100%;
    display: grid;
    color: lightslategrey;
    place-items: center;
    text-shadow: 0 1px 1px lightsteelblue;
    text-decoration: none;
}
#main > footer > button.msgBot > span.badge {
    position: absolute;
    top: 0;
    right: 0;
}

#accordion button {
    text-decoration: none;
    width: 100%;
    display: flex;
}